# Pandas Basics
---

## 01 Lire un CSV

In [1]:
import pandas as pd

In [2]:
df = pd.read_csv("data.csv")

In [3]:
df

,id,date,first_name,last_name,email,gender,ip_address,country,price_paid,tax
0,1,03/28/2021,Marylin,Alders,malders0@shop-pro.jp,Male,160.119.8.119,Canada,$5.36,NaN
1,2,03/19/2021,Hinda,Harridge,hharridge1@gnu.org,Female,210.51.172.132,Canada,$8.32,NaN
2,3,03/17/2021,Erl,Kilminster,ekilminster2@etsy.com,Male,213.8.101.145,United States,$3.73,20.0
3,4,03/19/2021,Grata,Brantl,gbrantl3@umn.edu,Female,5.140.237.101,United States,$3.70,20.0
4,5,03/24/2021,Kanya,Beasant,kbeasant4@jigsy.com,Male,106.252.162.233,Morocco,$9.24,20.0
...,...,...,...,...,...,...,...,...,...,...
995,996,03/24/2021,Duff,Errigo,derrigorn@elpais.com,Female,193.84.247.144,France,$3.63,NaN
996,997,03/17/2021,Ame,Rastall,arastallro@toplist.cz,Female,188.219.12.109,NaN,$4.59,20.0
997,998,03/13/2021,Betty,Stickels,bstickelsrp@cloudflare.com,Male,199.80.60.87,United States,$7.54,20.0
998,999,03/17/2021,Paquito,Tesoe,ptesoerq@rakuten.co.jp,Male,0.183.63.11,United States,$5.81,NaN
999,1000,03/23/2021,Rochelle,Pringuer,rpringuerrr@house.gov,NaN,170.193.249.83,Canada,$8.01,20.0

---

## 02 Annalyser des données

In [4]:
df.head() # lit les 5 premières entrées, prend le nb en param

,id,date,first_name,last_name,email,gender,ip_address,country,price_paid,tax
0,1,03/28/2021,Marylin,Alders,malders0@shop-pro.jp,Male,160.119.8.119,Canada,$5.36,NaN
1,2,03/19/2021,Hinda,Harridge,hharridge1@gnu.org,Female,210.51.172.132,Canada,$8.32,NaN
2,3,03/17/2021,Erl,Kilminster,ekilminster2@etsy.com,Male,213.8.101.145,United States,$3.73,20.0
3,4,03/19/2021,Grata,Brantl,gbrantl3@umn.edu,Female,5.140.237.101,United States,$3.70,20.0
4,5,03/24/2021,Kanya,Beasant,kbeasant4@jigsy.com,Male,106.252.162.233,Morocco,$9.24,20.0

In [5]:
df.tail() # lit les 5 dernières entrées, prend le nb en param

,id,date,first_name,last_name,email,gender,ip_address,country,price_paid,tax
995,996,03/24/2021,Duff,Errigo,derrigorn@elpais.com,Female,193.84.247.144,France,$3.63,NaN
996,997,03/17/2021,Ame,Rastall,arastallro@toplist.cz,Female,188.219.12.109,NaN,$4.59,20.0
997,998,03/13/2021,Betty,Stickels,bstickelsrp@cloudflare.com,Male,199.80.60.87,United States,$7.54,20.0
998,999,03/17/2021,Paquito,Tesoe,ptesoerq@rakuten.co.jp,Male,0.183.63.11,United States,$5.81,NaN
999,1000,03/23/2021,Rochelle,Pringuer,rpringuerrr@house.gov,NaN,170.193.249.83,Canada,$8.01,20.0

In [6]:
df.shape # renvoit un tuple avec le nb de rows et cols

(1000, 10)

In [7]:
df.columns # affiche les champs de l'objet, .tolist() pour en faire une list

Index(['id', 'date', 'first_name', 'last_name', 'email', 'gender',
       'ip_address', 'country', 'price_paid', 'tax'],
      dtype='object')

In [8]:
df.index # affiche les index de l'objet

RangeIndex(start=0, stop=1000, step=1)

In [9]:
df.set_index("email") # pour indexer avec un colonne, inplace=True pour écraser la variable

,id,date,first_name,last_name,gender,ip_address,country,price_paid,tax
email,,,,,,,,,
malders0@shop-pro.jp,1,03/28/2021,Marylin,Alders,Male,160.119.8.119,Canada,$5.36,NaN
hharridge1@gnu.org,2,03/19/2021,Hinda,Harridge,Female,210.51.172.132,Canada,$8.32,NaN
ekilminster2@etsy.com,3,03/17/2021,Erl,Kilminster,Male,213.8.101.145,United States,$3.73,20.0
gbrantl3@umn.edu,4,03/19/2021,Grata,Brantl,Female,5.140.237.101,United States,$3.70,20.0
kbeasant4@jigsy.com,5,03/24/2021,Kanya,Beasant,Male,106.252.162.233,Morocco,$9.24,20.0
...,...,...,...,...,...,...,...,...,...
derrigorn@elpais.com,996,03/24/2021,Duff,Errigo,Female,193.84.247.144,France,$3.63,NaN
arastallro@toplist.cz,997,03/17/2021,Ame,Rastall,Female,188.219.12.109,NaN,$4.59,20.0
bstickelsrp@cloudflare.com,998,03/13/2021,Betty,Stickels,Male,199.80.60.87,United States,$7.54,20.0
ptesoerq@rakuten.co.jp,999,03/17/2021,Paquito,Tesoe,Male,0.183.63.11,United States,$5.81,NaN
rpringuerrr@house.gov,1000,03/23/2021,Rochelle,Pringuer,NaN,170.193.249.83,Canada,$8.01,20.0

---

## 03 Sélectionner des données

In [10]:
df["email"].head() # pour recupérer les données d'une colonne

0     malders0@shop-pro.jp
1       hharridge1@gnu.org
2    ekilminster2@etsy.com
3         gbrantl3@umn.edu
4      kbeasant4@jigsy.com
Name: email, dtype: object

In [11]:
df.email.head() # marcher aussi si pas d'espace

0     malders0@shop-pro.jp
1       hharridge1@gnu.org
2    ekilminster2@etsy.com
3         gbrantl3@umn.edu
4      kbeasant4@jigsy.com
Name: email, dtype: object

In [12]:
type(df) # df est un tableau => DataFrame

pandas.core.frame.DataFrame

In [13]:
type(df.email) # df.email est une série => Series

pandas.core.series.Series

In [14]:
df[10:20] # pour prendre une partie des éléments, exclusif

,id,date,first_name,last_name,email,gender,ip_address,country,price_paid,tax
10,11,03/11/2021,Lief,Woodcraft,lwoodcrafta@sitemeter.com,Male,201.76.240.51,Canada,$5.71,NaN
11,12,03/16/2021,Bailie,Wyman,bwymanb@lulu.com,Male,222.60.138.222,United States,$3.15,20.0
12,13,03/05/2021,Janice,Morillas,jmorillasc@miibeian.gov.cn,Female,24.25.198.252,Canada,$5.30,20.0
13,14,03/24/2021,Cull,Vassie,cvassied@unblog.fr,NaN,18.203.61.94,France,$5.97,20.0
14,15,03/21/2021,Oralie,Maryon,omaryone@va.gov,Female,215.248.16.198,United States,$4.53,20.0
15,16,03/24/2021,Julina,Faint,jfaintf@amazon.co.jp,Female,96.193.4.151,United States,$4.10,20.0
16,17,03/27/2021,Eve,Allaway,eallawayg@ebay.co.uk,Female,184.107.59.156,United States,$6.44,20.0
17,18,03/20/2021,Esta,Boulden,ebouldenh@posterous.com,NaN,220.109.140.190,United States,$3.16,20.0
18,19,03/16/2021,Judye,Behan,jbehani@google.es,Female,27.196.2.18,France,$4.90,20.0
19,20,03/01/2021,Sibeal,Mounch,smounchj@rakuten.co.jp,Male,218.17.7.177,Canada,$5.82,20.0

In [15]:
df.loc[10:13] # pareil mais inclusif

,id,date,first_name,last_name,email,gender,ip_address,country,price_paid,tax
10,11,03/11/2021,Lief,Woodcraft,lwoodcrafta@sitemeter.com,Male,201.76.240.51,Canada,$5.71,NaN
11,12,03/16/2021,Bailie,Wyman,bwymanb@lulu.com,Male,222.60.138.222,United States,$3.15,20.0
12,13,03/05/2021,Janice,Morillas,jmorillasc@miibeian.gov.cn,Female,24.25.198.252,Canada,$5.30,20.0
13,14,03/24/2021,Cull,Vassie,cvassied@unblog.fr,NaN,18.203.61.94,France,$5.97,20.0

In [16]:
df_email = df.set_index("email")
df_email

,id,date,first_name,last_name,gender,ip_address,country,price_paid,tax
email,,,,,,,,,
malders0@shop-pro.jp,1,03/28/2021,Marylin,Alders,Male,160.119.8.119,Canada,$5.36,NaN
hharridge1@gnu.org,2,03/19/2021,Hinda,Harridge,Female,210.51.172.132,Canada,$8.32,NaN
ekilminster2@etsy.com,3,03/17/2021,Erl,Kilminster,Male,213.8.101.145,United States,$3.73,20.0
gbrantl3@umn.edu,4,03/19/2021,Grata,Brantl,Female,5.140.237.101,United States,$3.70,20.0
kbeasant4@jigsy.com,5,03/24/2021,Kanya,Beasant,Male,106.252.162.233,Morocco,$9.24,20.0
...,...,...,...,...,...,...,...,...,...
derrigorn@elpais.com,996,03/24/2021,Duff,Errigo,Female,193.84.247.144,France,$3.63,NaN
arastallro@toplist.cz,997,03/17/2021,Ame,Rastall,Female,188.219.12.109,NaN,$4.59,20.0
bstickelsrp@cloudflare.com,998,03/13/2021,Betty,Stickels,Male,199.80.60.87,United States,$7.54,20.0
ptesoerq@rakuten.co.jp,999,03/17/2021,Paquito,Tesoe,Male,0.183.63.11,United States,$5.81,NaN
rpringuerrr@house.gov,1000,03/23/2021,Rochelle,Pringuer,NaN,170.193.249.83,Canada,$8.01,20.0

In [17]:
df_email.loc['hharridge1@gnu.org'].values.tolist()
# pour récupérer les données et en faire un list

[np.int64(2),
 '03/19/2021',
 'Hinda',
 'Harridge',
 'Female',
 '210.51.172.132',
 'Canada',
 '$8.32',
 np.float64(nan)]

In [18]:
df_email.loc[['hharridge1@gnu.org', 'ekilminster2@etsy.com', 'ptesoerq@rakuten.co.jp']]
# Pour chercher plusieurs éléments

,id,date,first_name,last_name,gender,ip_address,country,price_paid,tax
email,,,,,,,,,
hharridge1@gnu.org,2,03/19/2021,Hinda,Harridge,Female,210.51.172.132,Canada,$8.32,NaN
ekilminster2@etsy.com,3,03/17/2021,Erl,Kilminster,Male,213.8.101.145,United States,$3.73,20.0
ptesoerq@rakuten.co.jp,999,03/17/2021,Paquito,Tesoe,Male,0.183.63.11,United States,$5.81,NaN

---

## 04 Les filtres

In [20]:
df["gender"] == "Male"

0       True
1      False
2       True
3      False
4       True
       ...
995    False
996    False
997     True
998     True
999    False
Name: gender, Length: 1000, dtype: bool

In [21]:
df[df["gender"] == "Male"] # pour filtrer la df

,id,date,first_name,last_name,email,gender,ip_address,country,price_paid,tax
0,1,03/28/2021,Marylin,Alders,malders0@shop-pro.jp,Male,160.119.8.119,Canada,$5.36,NaN
2,3,03/17/2021,Erl,Kilminster,ekilminster2@etsy.com,Male,213.8.101.145,United States,$3.73,20.0
4,5,03/24/2021,Kanya,Beasant,kbeasant4@jigsy.com,Male,106.252.162.233,Morocco,$9.24,20.0
7,8,03/08/2021,Codi,Feasley,cfeasley7@ed.gov,Male,26.190.191.249,France,$3.01,20.0
8,9,03/09/2021,Waylon,Heersema,wheersema8@tumblr.com,Male,63.242.174.112,Canada,$3.70,20.0
...,...,...,...,...,...,...,...,...,...,...
991,992,03/07/2021,Elihu,Crush,ecrushrj@berkeley.edu,Male,174.38.173.53,Morocco,$5.05,20.0
992,993,03/04/2021,Maurene,Guilloneau,mguilloneaurk@about.me,Male,108.73.141.204,France,$9.19,NaN
993,994,03/22/2021,Ossie,Snelle,osnellerl@nhs.uk,Male,230.187.67.246,France,$4.31,NaN
997,998,03/13/2021,Betty,Stickels,bstickelsrp@cloudflare.com,Male,199.80.60.87,United States,$7.54,20.0
998,999,03/17/2021,Paquito,Tesoe,ptesoerq@rakuten.co.jp,Male,0.183.63.11,United States,$5.81,NaN

In [26]:
female_filter = df["gender"] == "Female"  # plus propre
df[female_filter]

,id,date,first_name,last_name,email,gender,ip_address,country,price_paid,tax
0,1,03/28/2021,Marylin,Alders,malders0@shop-pro.jp,Female,160.119.8.119,Canada,$5.36,NaN
1,2,03/19/2021,Hinda,Harridge,hharridge1@gnu.org,Female,210.51.172.132,Canada,$8.32,NaN
2,3,03/17/2021,Erl,Kilminster,ekilminster2@etsy.com,Female,213.8.101.145,United States,$3.73,20.0
3,4,03/19/2021,Grata,Brantl,gbrantl3@umn.edu,Female,5.140.237.101,United States,$3.70,20.0
4,5,03/24/2021,Kanya,Beasant,kbeasant4@jigsy.com,Female,106.252.162.233,Morocco,$9.24,20.0
...,...,...,...,...,...,...,...,...,...,...
995,996,03/24/2021,Duff,Errigo,derrigorn@elpais.com,Female,193.84.247.144,France,$3.63,NaN
996,997,03/17/2021,Ame,Rastall,arastallro@toplist.cz,Female,188.219.12.109,NaN,$4.59,20.0
997,998,03/13/2021,Betty,Stickels,bstickelsrp@cloudflare.com,Female,199.80.60.87,United States,$7.54,20.0
998,999,03/17/2021,Paquito,Tesoe,ptesoerq@rakuten.co.jp,Female,0.183.63.11,United States,$5.81,NaN
999,1000,03/23/2021,Rochelle,Pringuer,rpringuerrr@house.gov,Female,170.193.249.83,Canada,$8.01,20.0

In [33]:
country_filter = df["country"].isin(["France","Canada"]) 
df[country_filter]

,id,date,first_name,last_name,email,gender,ip_address,country,price_paid,tax
0,1,03/28/2021,Marylin,Alders,malders0@shop-pro.jp,Female,160.119.8.119,Canada,$5.36,NaN
1,2,03/19/2021,Hinda,Harridge,hharridge1@gnu.org,Female,210.51.172.132,Canada,$8.32,NaN
6,7,03/14/2021,Ava,Kencott,akencott6@phoca.cz,Female,118.251.45.43,Canada,$6.29,NaN
7,8,03/08/2021,Codi,Feasley,cfeasley7@ed.gov,Female,26.190.191.249,France,$3.01,20.0
8,9,03/09/2021,Waylon,Heersema,wheersema8@tumblr.com,Female,63.242.174.112,Canada,$3.70,20.0
...,...,...,...,...,...,...,...,...,...,...
992,993,03/04/2021,Maurene,Guilloneau,mguilloneaurk@about.me,Female,108.73.141.204,France,$9.19,NaN
993,994,03/22/2021,Ossie,Snelle,osnellerl@nhs.uk,Female,230.187.67.246,France,$4.31,NaN
994,995,03/17/2021,Carolyne,Bruntjen,cbruntjenrm@reference.com,Female,7.29.168.78,France,$5.68,20.0
995,996,03/24/2021,Duff,Errigo,derrigorn@elpais.com,Female,193.84.247.144,France,$3.63,NaN
999,1000,03/23/2021,Rochelle,Pringuer,rpringuerrr@house.gov,Female,170.193.249.83,Canada,$8.01,20.0

In [38]:
df_test =  df.copy()
df_test.price_paid = df_test.price_paid.apply(lambda x: x.replace("$", ""))
df_test.price_paid = df_test.price_paid.astype(float)
df_test[df_test["price_paid"] >= 5.0 ]

,id,date,first_name,last_name,email,gender,ip_address,country,price_paid,tax
0,1,03/28/2021,Marylin,Alders,malders0@shop-pro.jp,Female,160.119.8.119,Canada,5.36,NaN
1,2,03/19/2021,Hinda,Harridge,hharridge1@gnu.org,Female,210.51.172.132,Canada,8.32,NaN
4,5,03/24/2021,Kanya,Beasant,kbeasant4@jigsy.com,Female,106.252.162.233,Morocco,9.24,20.0
5,6,03/25/2021,Titos,Braybrooke,tbraybrooke5@umn.edu,Female,173.100.21.179,United States,5.82,NaN
6,7,03/14/2021,Ava,Kencott,akencott6@phoca.cz,Female,118.251.45.43,Canada,6.29,NaN
...,...,...,...,...,...,...,...,...,...,...
992,993,03/04/2021,Maurene,Guilloneau,mguilloneaurk@about.me,Female,108.73.141.204,France,9.19,NaN
994,995,03/17/2021,Carolyne,Bruntjen,cbruntjenrm@reference.com,Female,7.29.168.78,France,5.68,20.0
997,998,03/13/2021,Betty,Stickels,bstickelsrp@cloudflare.com,Female,199.80.60.87,United States,7.54,20.0
998,999,03/17/2021,Paquito,Tesoe,ptesoerq@rakuten.co.jp,Female,0.183.63.11,United States,5.81,NaN
999,1000,03/23/2021,Rochelle,Pringuer,rpringuerrr@house.gov,Female,170.193.249.83,Canada,8.01,20.0

---

## 05 Supprimer les colonnes